In [144]:
#funcction tranformer

In [145]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import FunctionTransformer
from sklearn.metrics import accuracy_score

In [146]:
df=pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Age       714 non-null    float64
 2   Fare      891 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 21.0 KB

In [148]:
df.isna().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [149]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

C:\Users\STEVE\AppData\Local\Temp\ipykernel_19800\694922604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

In [150]:
x=df.iloc[:,1:3]
y=df.iloc[:,0:1]
x.shape,y.shape

((891, 2), (891, 1))

In [151]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.3,random_state=0)
X_train.shape,X_test.shape,Y_train.shape

((623, 2), (268, 2), (623, 1))

In [152]:
trf=FunctionTransformer(func=np.log1p)
X_train_trans=trf.fit_transform(X_train)
X_test_trans=trf.transform(X_test)

In [153]:
X_train_trans.head()

          Age      Fare
857  3.951244  3.316003
52   3.912023  4.353231
386  0.693147  3.869116
124  4.007333  4.360388
578  3.424234  2.738146

In [154]:
lr=LogisticRegression()
dtc=DecisionTreeClassifier()

lr.fit(X_train_trans,Y_train)
dtc.fit(X_train_trans,Y_train)

Y_predict_lr=lr.predict(X_test_trans)
Y_predict_dtc=dtc.predict(X_test_trans)

print(accuracy_score(Y_predict_lr,Y_test))
print(accuracy_score(Y_predict_dtc,Y_test))

0.7126865671641791
0.6828358208955224

E:\anaconda-2\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)